@import "vars";
@import "mixins";


body {
    display: none;
    margin: 0;
    overflow-x: hidden;
}

.body-visible {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    overflow-x: hidden;
}

@media (min-width: 609px) and (max-width:993px) {

    /* 1.1 */
    .header {
        display: flex;
        flex-direction: column;
        width: auto;
        height: fit-content;
        margin-bottom: 50px;

        #nav {
            display: flex;
            justify-content: space-between;
            padding: 35px 58px;
            z-index: 1;

            #telephone {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: $mainFONTColor_dark;
                font-family: Poppins;
                gap: 15px;
            }

            #nav-open {
                width: 40px;
                height: 16px;
                align-self: center;
                transition-property: all;
                transition: all ease 0.5s;

                &:active {
                    cursor: pointer;
                    transition-delay: 0s, 0.5s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateX(30%);
                }
            }

            #tel_icon {
                width: 20px;
                height: 20px;
            }
        }

        #error-title {
            display: flex;
            justify-content: center;

            h2 {
                margin: 0;
                justify-content: center;
                text-align: center;
                @include font-100titlepages;
                font-size: 75px;
                line-height: 82px;
                width: 650px;
                height: fit-content;
            }
        }
    }

    /* 1.2 */
    .error-content {
        @include align58flex;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 100px;

        #error-descr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                margin: 0;
                @include font-20h4;
                color: $mainFONTColor_dark;
                width: 320px;
            }

            button {
                align-self: center;
                height: 60px;
                width: 335px;
                background: $mainFONTColor_light;
                border: 0.5px solid $mainBTNinnerFONTColor;
                transition-property: all;
                transition: all ease 0.5s;

                p {
                    width: fit-content;
                    @include font-innerBTN;
                    margin: 0;
                    font-size: 18px;
                    line-height: 20px;
                    padding: 0 100px;
                    text-align: center;
                }

                &:active {
                    background-color: $mainBTNinnerFONTColor;
                    border: 0.5px solid $mainBTNinnerFONTColor;
                    transition-duration: 0.5s;
                    transition-delay: 0s, 0.1s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateY(10%);

                    p {
                        color: $mainFONTColor_light;
                    }
                }
            }
        }
    }

    /* 1.3 */
    .footer {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        background-color: $mainBGColor_dark;
        color: $mainFONTColor_light;
        justify-content: center;

        #waiting-text {
            @include align115flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: fit-content;
            gap: 50px;
            margin: 45px 0 35px 0;

            #text {
                @include font-70h3-side;
                color: rgba(255, 255, 255, 0.35);
                transform: rotate(0deg);
                padding-bottom: 0;
                font-size: 38px;
                line-height: 35px;
                width: fit-content;
                height: 71px;
                padding-left: 100px;
            }

            #arr-up-link {
                display: flex;
                transition-property: all;
                transition: all ease 0.5s;

                #arr-up {
                    display: flex;
                    align-self: center;
                    height: min-content;
                    width: 50px;
                    transform: rotate(-90deg);
                    margin-right: 20px;
                }

                &:active {
                    transition-duration: 0.5s;
                    transition-delay: 0s, 0.1s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateY(-20%);
                }
            }

        }

        div {
            #hr-line-9 {
                @include hr-line;
                height: 0;
                opacity: 0.5;
                width: auto;
            }
        }

        #social-icons {
            @include align115flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: fit-content;
            gap: 20px;
            margin: 35px 0 70px 0;
            opacity: 0.35;

            a {
                #vk {
                    width: 40px;
                    height: 30px;
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
@media (min-width: 993px) and (max-width:1200px) {

    /* 1.1 */
    .header {
        display: flex;
        flex-direction: column;
        width: auto;
        height: fit-content;
        margin-bottom: 70px;

        #nav {
            display: flex;
            justify-content: space-between;
            padding: 35px 115px;
            z-index: 1;

            #telephone {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: $mainFONTColor_dark;
                font-family: Poppins;
                gap: 15px;
            }

            #nav-open {
                width: 40px;
                height: 16px;
                align-self: center;
                transition-property: all;
                transition: all ease 0.5s;

                &:hover {
                    cursor: pointer;
                    transition-delay: 0s, 0.5s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateX(30%);
                }
            }

            #tel_icon {
                width: 20px;
                height: 20px;
            }
        }

        #error-title {
            display: flex;
            justify-content: center;

            h2 {
                margin: 0;
                justify-content: center;
                text-align: center;
                @include font-100titlepages;
                line-height: 104px;
                width: 650px;
                height: fit-content;
            }
        }
    }

    /* 1.2 */
    .error-content {
        @include align115flex;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 70px;

        #error-descr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                margin: 0;
                @include font-20h4;
                color: $mainFONTColor_dark;
                width: 320px;
            }

            button {
                align-self: center;
                height: 60px;
                width: 335px;
                background: $mainFONTColor_light;
                border: 0.5px solid $mainBTNinnerFONTColor;
                transition-property: all;
                transition: all ease 0.5s;

                p {
                    width: fit-content;
                    @include font-innerBTN;
                    margin: 0;
                    padding: 0 105px;
                    text-align: center;
                }

                &:hover {
                    background-color: $mainBTNinnerFONTColor;
                    border: 0.5px solid $mainBTNinnerFONTColor;
                    transition-duration: 0.5s;
                    transition-delay: 0s, 0.1s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateY(10%);

                    p {
                        color: $mainFONTColor_light;
                    }
                }
            }
        }
    }

    /* 1.3 */
    .footer {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        background-color: $mainBGColor_dark;
        color: $mainFONTColor_light;

        #waiting-text {
            @include align115flex;
            flex-direction: row;
            justify-content: center;
            height: fit-content;
            margin: 75px 0 45px 0;
            gap: 160px;

            #text {
                @include font-70h3-side;
                color: rgba(255, 255, 255, 0.35);
                line-height: 55px;
                font-size: 60px;
                transform: rotate(0deg);
                width: 280px;
                padding-bottom: 0;
                margin-left: 245px;
            }

            #arr-up-link {
                display: flex;
                transition-property: all;
                transition: all ease 0.5s;

                #arr-up {
                    display: flex;
                    align-self: center;
                    height: min-content;
                    width: 50px;
                    transform: rotate(-90deg);
                    margin-right: 20px;
                }

                &:hover {
                    transition-duration: 0.5s;
                    transition-delay: 0s, 0.1s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateY(-20%);
                }
            }
        }

        div {
            #hr-line-9 {
                @include hr-line;
                height: 0;
                opacity: 0.5;
                width: auto;
            }
        }

        #social-icons {
            @include align115flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: fit-content;
            gap: 20px;
            margin: 35px 0 60px 0;
            opacity: 0.35;

            a {
                #vk {
                    width: 40px;
                    height: 28px;
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
@media (min-width: 1200px) and (max-width:1400px) {

    /* 1.1 */
    .header {
        display: flex;
        flex-direction: column;
        width: auto;
        height: fit-content;
        margin-bottom: 121px;

        #nav {
            display: flex;
            justify-content: space-between;
            padding: 35px 140px;
            z-index: 1;

            #telephone {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: $mainFONTColor_dark;
                font-family: Poppins;
                gap: 15px;
            }

            #nav-open {
                width: 40px;
                height: 16px;
                align-self: center;
                transition-property: all;
                transition: all ease 0.5s;

                &:hover {
                    cursor: pointer;
                    transition-delay: 0s, 0.5s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateX(30%);
                }
            }

            #tel_icon {
                width: 20px;
                height: 20px;
            }
        }

        #error-title {
            display: flex;
            justify-content: center;

            h2 {
                margin: 0;
                justify-content: center;
                text-align: center;
                @include font-100titlepages;
                line-height: 104px;
                width: 650px;
                height: fit-content;
            }
        }
    }

    /* 1.2 */
    .error-content {
        @include align140flex;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 121px;

        #error-descr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                margin: 0;
                @include font-20h4;
                color: $mainFONTColor_dark;
                width: 320px;
            }

            button {
                align-self: center;
                height: 60px;
                width: 335px;
                background: #FFFFFF;
                border: 0.5px solid $mainBTNinnerFONTColor;
                transition-property: all;
                transition: all ease 0.5s;

                p {
                    width: fit-content;
                    @include font-innerBTN;
                    margin: 0;
                    padding: 0 105px;
                    text-align: center;
                }

                &:hover {
                    background-color: $mainBTNinnerFONTColor;
                    border: 0.5px solid $mainBTNinnerFONTColor;
                    transition-duration: 0.5s;
                    transition-delay: 0s, 0.1s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateY(10%);

                    p {
                        color: $mainFONTColor_light;
                    }
                }
            }
        }
    }

    /* 1.3 */
    .footer {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        background-color: $mainBGColor_dark;
        color: $mainFONTColor_light;

        #waiting-text {
            @include align140flex;
            flex-direction: row;
            justify-content: center;
            height: fit-content;
            gap: 160px;
            margin: 75px 0 45px 0;

            #text {
                @include font-70h3-side;
                color: rgba(255, 255, 255, 0.35);
                line-height: 55px;
                font-size: 60px;
                transform: rotate(0deg);
                width: 280px;
                padding-bottom: 0;
                margin-left: 255px;
            }

            #arr-up-link {
                display: flex;
                transition-property: all;
                transition: all ease 0.5s;

                #arr-up {
                    display: flex;
                    align-self: center;
                    height: min-content;
                    width: 50px;
                    transform: rotate(-90deg);
                    margin-right: 20px;
                }

                &:hover {
                    transition-duration: 0.5s;
                    transition-delay: 0s, 0.1s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateY(-20%);
                }
            }

        }

        div {
            #hr-line-9 {
                @include hr-line;
                height: 0;
                opacity: 0.5;
                width: auto;
            }
        }

        #social-icons {
            @include align140flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: fit-content;
            gap: 20px;
            margin: 35px 0 60px 0;
            opacity: 0.35;

            a {
                #vk {
                    width: 40px;
                    height: 28px;
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
@media (min-width: 1400px) {

    /* 1.1 */
    .header {
        display: flex;
        flex-direction: column;
        width: auto;
        height: fit-content;
        margin-bottom: 100px;

        #nav {
            display: flex;
            justify-content: space-between;
            padding: 35px 230px;
            z-index: 1;

            #telephone {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: $mainFONTColor_dark;
                font-family: Poppins;
                gap: 15px;
            }

            #nav-open {
                width: 40px;
                height: 16px;
                align-self: center;
                transition-property: all;
                transition: all ease 0.5s;

                &:hover {
                    cursor: pointer;
                    transition-delay: 0s, 0.5s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateX(30%);
                }
            }

            #tel_icon {
                width: 20px;
                height: 20px;
            }
        }

        #error-title {
            display: flex;
            justify-content: center;

            h2 {
                margin: 0;
                justify-content: center;
                text-align: center;
                @include font-100titlepages;
                line-height: 104px;
                width: 650px;
                height: fit-content;
            }
        }
    }

    /* 1.2 */
    .error-content {
        @include align230flex;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 100px;

        #error-descr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                margin: 0;
                @include font-20h4;
                color: $mainFONTColor_dark;
                width: 320px;
            }

            button {
                align-self: center;
                height: 60px;
                width: 335px;
                background: $mainFONTColor_light;
                border: 0.5px solid $mainBTNinnerFONTColor;
                transition-property: all;
                transition: all ease 0.5s;

                p {
                    width: fit-content;
                    @include font-innerBTN;
                    margin: 0;
                    padding: 0 105px;
                    text-align: center;
                }

                &:hover {
                    background-color: $mainBTNinnerFONTColor;
                    border: 0.5px solid $mainBTNinnerFONTColor;
                    transition-duration: 0.5s;
                    transition-delay: 0s, 0.1s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateY(10%);

                    p {
                        color: $mainFONTColor_light;
                    }
                }
            }
        }
    }

    /* 1.3 */
    .footer {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        background-color: $mainBGColor_dark;
        color: $mainFONTColor_light;

        #waiting-text {
            @include align230flex;
            flex-direction: row;
            justify-content: center;
            height: fit-content;
            gap: 160px;
            margin: 75px 0 45px 0;

            #text {
                @include font-70h3-side;
                color: rgba(255, 255, 255, 0.35);
                line-height: 55px;
                font-size: 60px;
                transform: rotate(0deg);
                width: fit-content;
                padding-bottom: 0;
                margin-left: 250px;
            }

            #arr-up-link {
                display: flex;
                transition-property: all;
                transition: all ease 0.5s;

                #arr-up {
                    display: flex;
                    align-self: center;
                    height: min-content;
                    width: 50px;
                    transform: rotate(-90deg);
                    margin-right: 20px;
                }

                &:hover {
                    transition-duration: 0.5s;
                    transition-delay: 0s, 0.1s;
                    transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
                    transform: translateY(-20%);
                }
            }
        }

        div {
            #hr-line-9 {
                @include hr-line;
                height: 0;
                opacity: 0.5;
                width: auto;
            }
        }

        #social-icons {
            @include align230flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: fit-content;
            gap: 20px;
            margin: 35px 0 60px 0;
            opacity: 0.35;

            a {
                #vk {
                    width: 40px;
                    height: 28px;
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
