//vars
//bg color
$mainBGColor_dark: #1d1d1d;
$mainBGColor_light: #ffffff;
$thtableBGColor_light: #d9d9d98f;

//font color
$mainFONTColor_light: #ffffff;
$mainFONTColor_dark: #000000;
$mainBTNinnerFONTColor: #7C4D35;
$mainHIGTLITEDFONTColor: #CAA390;

//hr line color
$mainHRColor: #e3c3b3;

//btn bg color
$mainBGColorBTN_light: #FEE6DB;
$mainBGColorBTN_dark: #1d1d1d;
